{%extends 'layout_sheetmaker.html' %}

{% block header %}
<h4>Contenido header 🎅</h4>
{% endblock %}

{% block content %}

<!-- CONTENIDO C -->
<div class="card h-100 text-center p-3">
    <div class="card-body">
        <h5 class="card-title">Reportes con Excel</h5>
        <p class="card-text">Genera reportes avanzados en formato Excel de manera rápida y sencilla.</p>
        <button class="btn btn-primary">Ver más</button>
        <ul>
            {% for abc in features %}
            <li>{{ abc }}</li>
            <style>
                ul {
                    list-style: none;
                }
            </style>
            {% endfor %}
        </ul>

        <em>
            {% for abc in features %}
            <span class="badge bg-secondary">#{{ abc }}</span>
            <!-- <img width="16"
                src="https://cdn3.iconfinder.com/data/icons/2018-social-media-logotypes/1000/2018_social_media_popular_app_logo-whatsapp-512.png">
            {{ abc }}, -->
            {% endfor %}
        </em>


    </div>
</div>
{% endblock %}


{% block footer %}
<!-- CONTENIDO F -->
<div class="container mt-5">
    <div class="alert alert-success text-center py-4" style="background-color: #007bff; color: white;">
        <h4 class="fw-bold mb-0">¡Oferta con un 10% de descuento por Cyber Wow!</h4>
        <p class="mt-2">Aprovecha las ofertas exclusivas en nuestros servicios durante el evento de Cyber Wow.</p>
    </div>
    {% endblock %}